### Q1
List the basic data types in python and give one example each.

In [ ]:
#There are four basic data types in python. These are string, boolean, integer and float.

#Example of a string is
"Welcome to Blossom Academy"

#Example of a boolean is
True

#Example of an integer is
49

#Example of a float is
3.567

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [2]:
x = 4539.85
y = str(x)
print(y)

4539.85

In [3]:
z = int(x)
print(z)

4539

In [5]:
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

In [6]:
#a.float

#b.integer

#c.string

#d.float

#e.integer

#f.float

#g.boolean

#i.string

#j.float

#k.integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [81]:
statement = "Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"
statement.split(". ")

['Thomas Partey is arguably the best player in the Black Stars',
 'He is a great addition to the team']

In [82]:
statement_1 = 'Thomas Partey is arguably the best player in the Black Stars'
statement_2 = 'He is a great addition to the team'

In [29]:
#1. 
len(statement_1)

60

In [30]:
#2.
len(statement_2)

34

In [31]:
#3.
len(statement_1) > len(statement_2)

True

### Q5
What values does python use to represent **True** and **False** respectively?

In [ ]:
# False = 0 

# True = 1

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [42]:
#1.
78 > 46 and 78 < (30%2 == 1)

False

In [43]:
#2.
(8 - 2)%2 == 0 or 8%2 == 1

True

In [44]:
#3.
len("bootstrap") == 7 and len("sample") == 6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [47]:
word = "Hello, How are you?"
word.split(" ")

['Hello,', 'How', 'are', 'you?']

In [54]:
new_word = ['Hello,', 'How', 'are', 'you?']

In [55]:
#1.
new_word[1]

'How'

In [57]:
#2.
word[7:]

'How are you?'

In [58]:
#3.
new_word[2]

'are'

In [67]:
#4.
word[-1]

'?'

In [76]:
#5.
print(word)

Hello, How are you?

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [83]:
sentence = "I am very excited"

In [87]:
#1.
sentence.upper()

'I AM VERY EXCITED'

In [88]:
#2.
sentence.lower()

'i am very excited'

In [85]:
#3.
sentence.title()

'I Am Very Excited'

In [84]:
#4.
sentence.split(" ")

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [69]:
#I had to change the variable name from "word" to "words" because of question 7 which already had "word" as a variable.
words = 'OneThirtyEight' 
#1.
words[:3]

'One'

In [70]:
#2.
words[3:9]

'Thirty'

In [71]:
#3.
words[9:14]

'Eight'

In [72]:
#4.
words[:9]

'OneThirty'

In [73]:
#5.
words[3:14]

'ThirtyEight'

In [74]:
#6.
words.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [98]:
name = "Ault'Kelly"
type(name)

str