### Q1

Name the four built-in data structures in python. Give one examples for each

In [ ]:
#1.
List

In [ ]:
#2.
Set

In [ ]:
#3.
Tuple

In [ ]:
#4.
Dictionary

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
#1. A list is mutable that is, it can manipulated or changed while a tuple is immutable and cannot be manipulated.
#2. A list is written with square brackets ([]) while tuples use curly brackets({}).

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [1]:
animal_list = ["antelope", "monkey","lion","goat","sheep"]

In [2]:
#1. 
print(animal_list[:2])

['antelope', 'monkey']

In [3]:
#2.
print(animal_list[3:])

['goat', 'sheep']

In [4]:
#3.
new_animals = ["tiger","elephant","ostrich"]
animal_list.extend(new_animals)
print(animal_list)

['antelope', 'monkey', 'lion', 'goat', 'sheep', 'tiger', 'elephant', 'ostrich']

In [5]:
#4.
del animal_list[0:2]
print(animal_list)

['lion', 'goat', 'sheep', 'tiger', 'elephant', 'ostrich']

In [6]:
#5.
len(animal_list)

6

In [7]:
#6.
animal_set = set(animal_list)
print(animal_set)
print(type(animal_set))

{'goat', 'lion', 'elephant', 'ostrich', 'tiger', 'sheep'}
<class 'set'>

In [8]:
#7.
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [9]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [10]:
#a.
first = suitcase[:2]
print(first)

['sunglasses', 'hat']

In [11]:
#b.
middle = suitcase[2:4]
print(middle)

['passport', 'laptop']

In [12]:
#c.
last = suitcase[3:]
print(last)

['laptop', 'suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [30]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3,35)

In [31]:
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [14]:
#I would use a tuple over a list when I don't want to manipulate or change my data or avoid it change from mistakes.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [15]:
regional_capital = {"Greater Accra":"Accra",
                   "Volta":"Ho",
                   "Central":"Cape-Coast",
                   "Eastern": "Koforidua",
                   "Brong Ahafo":"Sunyani",
                   "Northern":"Tamale"}

In [16]:
print(regional_capital.keys())

dict_keys(['Greater Accra', 'Volta', 'Central', 'Eastern', 'Brong Ahafo', 'Northern'])

In [17]:
print(regional_capital.values())

dict_values(['Accra', 'Ho', 'Cape-Coast', 'Koforidua', 'Sunyani', 'Tamale'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [32]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
values.append(3)
values

[3, 4, 5, 6, 3, 4, 3, 5, 2, 4, 2, 5, 6, 1, 6, 3]

In [33]:
#1.
total_num = sum(values)
print(total_num)

62

In [37]:
#2.
highest_occuring_number = None
highest_occuring_count = 0

for num in set(values):
    count = values.count(num)
    if count > highest_occuring_count:
        highest_occuring_count = count
        highest_occuring_number = num

print(highest_occuring_number)

3

In [38]:
#3.
values_set = set(values)
print(values_set)

{1, 2, 3, 4, 5, 6}

In [22]:
#4.
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [23]:
numbers = {}
for a in range(1,16):
    numbers[a]= a**2
print(numbers)
print(type(numbers))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
<class 'dict'>

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [27]:
num_values = {'x': list(range(11,21)), 'y': list(range(21,31)), 'z': list(range(31,41))}
x_fifth_value = num_values['x'][4]
y_fifth_value = num_values['y'][4]
z_fifth_value = num_values['z'][4]

In [28]:
print(x_fifth_value)
print(y_fifth_value)
print(z_fifth_value)

15
25
35